.app {
  text-align: center;
  background-image: linear-gradient(to right bottom, #ce18ced5, rgba(30, 15, 238, 0.829));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 24px;
  height: 100vh;
  width: 100vw;
}

.app-header {
  margin: 10px 0;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spiner {
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: rgb(121, 5, 145);
}